@import "../../index.scss";
body{
    @include bodystuff();
    font-family: 'Oswald', sans-serif;
    .circle {
        font-family: 'Inter Tight', sans-serif;
        margin: auto;
        width: 250px;
        height: 200px;
        line-height: 200px;
        border-radius: 50%;
        font-size: 50px;
        color: #fff;
        text-align: center;
        background: $accentcolor;
    }
    .bodytext{
        background-color: $textbgcolor;
        border: 0.3px solid black;
        color: $textcolor;
        font-size: 15px;
     }
    
    .toblog{
        text-align: center;     
        color: $textcolor;
        #arrow{
            transition: 1s;
            &:hover{
                scale: 1.2;
            }
        }
     }
}
@media screen and (min-width:$desktop) {
    body{
        .circle{
            width: 300px;
            height: 250px;
            line-height: 250px;
        }
        .bodytext{
            font-size: 26px;
            width: 60%;
            margin: auto;
        }
        .toblog{
            font-size: 24px;
        }
    }
    
}
@media screen and (min-width:$tablet) and (max-width:$desktop){
    body{
        .circle{
            width: 400px;
            height: 300px;
            line-height: 300px;
            margin-top: 10px;
        }
        .bodytext{
            font-size: 28px;
            margin-bottom: 90px;
        }
        .toblog{
            font-size: 20px;
        }
    }
}