@import "../../index.scss";


body{
    @include bodystuff();
    .titleblock{
        background-color: $accentcolor;
        width: 70%;
        font-size: x-large;
        font-family: 'Inter Tight', sans-serif;
        margin-bottom: -20px;
        margin-top: -30px;
        color: $textcolor;
    }
    .bodytext{
        background-color: $textbgcolor;
        width: 95%;
        margin-bottom: 4px;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        color: $textcolor;
    }
    .blogimgdiv{
        margin-left: auto;
        margin-right:auto;    
        .blogimg{
        width: 250px;
        height: 200px;
        }
    }
}

@media screen and (min-width: $desktop) {
    body{
        .titleblock{
            margin-top: 60px;
            width: 30%;
            margin-left: 20px;
        }
        .bodytext{
            margin-left: 20px;
            width: 50%;
            font-size: 26px;
        }
        .blogimgdiv{
            .blogimg{
                float: right;
                margin-top: -450px;
                margin-right: -600px;
                width: 500px;
                height: 450px;
            }
        }
    }
}