@import "../../index.scss";

body{
    @include bodystuff();
    .holder{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 15px;
        margin-bottom: -90px;

        #titleblockblog{
            font-family: 'Inter Tight', sans-serif;
            position: absolute;
            top: 5em;
            background-color: $accentcolor;
            width: 100%;
                h1{
                    font-size: 31px;
                    text-align: center;
                    color: white;
                    font-weight:bold
                }
        }
        .blogcard{
            font-family: 'Inter Tight', sans-serif;
            background-color: $textbgcolor;
            text-align: center;
            height: 85px;
            border: 1px solid black;
            &:hover{
                box-shadow: 0px 0px 20px black;
            }
           
            h4{
                display: inline-block;
                color: $textcolor;
                margin-left: 20px;
                font-size: 14px;
            }
            .blogtitle{
                float: right;
                color: $textcolor;
                margin-right: 70px;
                font-size: 14px;
            }
            .blogimage{
                float: left;
                width: 85px;
                height: 85px;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    body{
        .holder{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: space-between;
            gap: 10px;
            #titleblockblog{
                top: 6.5em;
            }
            .blogcard{
                height: 120px;
                .blogtitle{
                    font-size: 36px;
                }
                h4{
                    font-size: 24px;
                }
                .blogimage{
                    height: 120px;
                    width: 150px;
                }
            }
        }
    }
}
@media screen and (min-width:$tablet) and (max-width:$desktop){
    body{
        .holder{
            #titleblockblog{
                top: 7em;
                h1{
                    font-size: 40px;
                }
            }
            .blogcard{
                height: 140px;
                .blogtitle{
                    font-size: 40px;
                }
                h4{
                    font-size: 26px;
                }
                .blogimage{
                    width: 160px;
                    height: 140px;
                }
            }
        }
    }
}