header {
  background-image: url("../../Images/background.jpg");
  padding: 32px;
}
header #navitems {
  display: flex;
  justify-content: space-evenly;
  margin-top: -10px;
  gap: 15px;
}
header #navitems .button {
  font-family: "Inter Tight", sans-serif;
  border-radius: 50%;
  background-color: #457B9D;
  font-size: 20px;
}
header #navitems .button:hover {
  box-shadow: 0px 0px 5px 5px black;
}

@media screen and (min-width: 1440px) {
  header #navitems {
    justify-content: space-around;
  }
  header #navitems .button {
    width: 110px;
    height: 50px;
    font-size: 25px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1440px) {
  header #navitems {
    justify-content: space-between;
  }
  header #navitems .button {
    width: 100px;
    height: 60px;
    font-size: 23px;
  }
}
footer {
  background-image: url("../../Images/background.jpg");
  padding: 32px;
}
footer .socialmedia {
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}
footer .socialmedia a i {
  color: black;
  transition: 0.7s;
}
footer .socialmedia a i:hover {
  scale: 1.3;
}

@media screen and (min-width: 1440px) {
  footer .socialmedia {
    justify-content: center;
    gap: 200px;
    font-size: 40px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1440px) {
  footer .socialmedia {
    font-size: 50px;
  }
}
body {
  margin: 0px;
  background-color: #1D3557;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .holder {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: -90px;
}
body .holder #titleblockblog {
  font-family: "Inter Tight", sans-serif;
  position: absolute;
  top: 5em;
  background-color: #E63946;
  width: 100%;
}
body .holder #titleblockblog h1 {
  font-size: 31px;
  text-align: center;
  color: white;
  font-weight: bold;
}
body .holder .blogcard {
  font-family: "Inter Tight", sans-serif;
  background-color: #457B9D;
  text-align: center;
  height: 85px;
  border: 1px solid black;
}
body .holder .blogcard:hover {
  box-shadow: 0px 0px 20px black;
}
body .holder .blogcard h4 {
  display: inline-block;
  color: #F1FAEE;
  margin-left: 20px;
  font-size: 14px;
}
body .holder .blogcard .blogtitle {
  float: right;
  color: #F1FAEE;
  margin-right: 70px;
  font-size: 14px;
}
body .holder .blogcard .blogimage {
  float: left;
  width: 85px;
  height: 85px;
}

@media screen and (min-width: 1440px) {
  body .holder {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 10px;
  }
  body .holder #titleblockblog {
    top: 6.5em;
  }
  body .holder .blogcard {
    height: 120px;
  }
  body .holder .blogcard .blogtitle {
    font-size: 36px;
  }
  body .holder .blogcard h4 {
    font-size: 24px;
  }
  body .holder .blogcard .blogimage {
    height: 120px;
    width: 150px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1440px) {
  body .holder #titleblockblog {
    top: 7em;
  }
  body .holder #titleblockblog h1 {
    font-size: 40px;
  }
  body .holder .blogcard {
    height: 140px;
  }
  body .holder .blogcard .blogtitle {
    font-size: 40px;
  }
  body .holder .blogcard h4 {
    font-size: 26px;
  }
  body .holder .blogcard .blogimage {
    width: 160px;
    height: 140px;
  }
}/*# sourceMappingURL=blog.css.map */