@import "../../index.scss";

body{
    @include bodystuff();
    .titleblock{
        background-color: $accentcolor;
        width: 70%;
        font-size: x-large;
        font-family: 'Inter Tight', sans-serif;
        margin-bottom: -20px;
        margin-top: -30px;
        color: $textcolor;
    }
    .bodytext{
        background-color: $textbgcolor;
        width: 95%;
        margin-bottom: 4px;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        color: $textcolor;

    }
}

@include blogpagebreakpoints();