@import "../../index.scss";

body{
    @include bodystuff();
    //title block styling
    .titleblock{
        background-color: $accentcolor;
        width: 70%;
        font-size: x-large;
        font-family: 'Inter Tight', sans-serif;
        margin-bottom: -20px;
        margin-top: -30px;
        color: $textcolor;
    }
    //blog content stling
    .bodytext{
        background-color: $textbgcolor;
        width: 95%;
        margin-bottom: 4px;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        color: $textcolor;
    }
    //blog image styling
    .blogimgdiv{
        margin-left: auto;
        margin-right:auto;    
        .blogimg{
        width: 250px;
        height: 200px;
        }
    }
}
//mixin for breakpoints
@include blogpagebreakpoints();