@import "../../index.scss";

body{
   @include bodystuff();

        #titleblockhome{
            font-family: 'Inter Tight', sans-serif;
            background-color: $accentcolor;
            width: 100%;
                h1{
                    font-size: 50px;
                    text-align: center;
                    color: white;
                    font-weight:bold
                }
        }
        #mainblockhome{
            font-family: 'Oswald', sans-serif;
            color: $textcolor;
            background-color: $textbgcolor;
            border: 0.3px solid black;
        }
        .homeimagediv{
           margin: auto;

            #homeimage{
                width: 350px;
                height: 290px;
            }
            .overlay{
                margin: auto;
                margin-top: 414px;
                font-family: 'Inter Tight', sans-serif;
                font-size: 32px;
                text-align: center;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 290px;
                width: 350px;
                opacity: 0;
                transition: 0.9s;
                background-color: #008CBA;
                &:hover{
                    opacity: 1;
                }
            }
        }

}

@media screen and (min-width:$desktop) {
    body{
        #titleblockhome{
            width: 40%;
            margin-top: 30px;
            margin-left: 600px;
        }
        #mainblockhome{
            padding: 10px;
            width: 30%;
            font-size: 32px;
            margin-left: 250px;
            margin-top: 40px;
        }
        .homeimagediv{
            margin: auto;
            margin-right: 250px;
            margin-top: -350px;
            #homeimage{
                width: 500.688px;
                height: 423px;
            }

            .overlay{
                width: 501px;
                height: 423px;
                margin-top: 302px;
                margin-right: 250px;
            }
        }
    }
}

@media screen and (min-width:$tablet) and (max-width:$desktop){
    body{
        #mainblockhome{
            font-size: 28px;
        }
        .homeimagediv{
            #homeimage{
                width: 700px;
                height: 600px;
            }
        }
    }
}