@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

// Footer styling with flexbox and adding a hover function for user feedback for the social media graphical component
footer{
    @include background();
    .socialmedia{
        display: flex;
        justify-content: space-around;
        font-size: 32px;
        a{
            i{
                color: black;
                transition: 0.7s;
                &:hover{
                    scale: 1.3;
                }
            }
        }
    }
}

//breakpoint for desktop footer
@media screen and (min-width: $desktop) {
    footer{
        .socialmedia{
            justify-content: center;
            gap: 200px;
            font-size: 40px;
        }
    }
}

//breakpoint for tablet footer
@media screen and (min-width:$tablet) and (max-width:$desktop){
    footer{
        .socialmedia{
            font-size: 50px;
        }
    }
}
