@import "../defaults/colors";

@mixin background(){
    background-image: url("../../Images/background.jpg");
    padding: 32px;
}

@mixin bodystuff(){
    margin: 0px;
    background-color: $backgroundcolor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin blogpagebreakpoints(){
    @media screen and (min-width: $desktop) {
        body{
            .titleblock{
                margin-top: 60px;
                width: 30%;
                margin-left: 20px;
            }
            .bodytext{
                margin-left: 20px;
                width: 50%;
                font-size: 26px;
            }
            .blogimgdiv{
                .blogimg{
                    float: right;
                    margin-top: -450px;
                    margin-right: 150px;
                    width: 500px;
                    height: 450px;
                }
            }
        }
    }
    
    @media screen and (min-width:$tablet) and (max-width:$desktop){
        body{
            .titleblock{
                width: 50%;
                font-size: 50px;
            }
            .bodytext{
                font-size: 24px;
            }
            .blogimgdiv{
                .blogimg{
                        width: 500px;
                        height: 375px;
                }
            }
        }
    }
}