$mobile: 360px; // Primary tested mobile breakpoint used (not used in any media queries)
$tablet: 834px; // Primary tested tablet breakpoint used
$desktop: 1440px; // Primary tested desktop breakpoint used