$backgroundcolor: #1D3557; // main site background color
$accentcolor: #E63946; // title block background color is primary use with seconday use being minor graphical components such as arrow on about page
$textbgcolor: #457B9D; // block background text color primarily used for text background to make it pop better
$textcolor: #F1FAEE; //main text color